@charset "UTF-8";

.myBorderLayout {
	padding: 0px;
}

.health-left-box {
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;			   
}
.health-right-box {
    border: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;			   
}
.header-left-box {
    border: 0px;
    border-top-left-radius: 5px;
   		   
}
.header-right-box {
    border: 0px;
    border-top-right-radius: 5px;
   		   
}
.header-box {
    border: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   		   
}

.text-button{
	 padding: 0px; 
	 line-height: 0px; 
	 border: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
